{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {% include 'default/header.html.twig' %}

            <div id="main">
                <div id="applications" class="activity">
                    <div class="heading">
                        <span>Applications</span>
                        <input type="button" onclick="window.location.href='{{ base_url }}dashboard/application/add';" value="Add" class="add-button" />
                    </div>
                    <div id="messages">
                    {% for message,class in messages %}
                        <div class="message {{ class }}">{{ message }}</div>
                    {% endfor %}
                    </div>
                    <div class="table">
                        <div class="table-header">
                            <div class="table-header-cell">Name</div>
                            <div class="table-header-cell">Domain</div>
                            <div class="table-header-cell">Permission(s)</div>
                            <div class="table-header-cell">Status</div>
                            <div class="table-header-cell">Action</div>
                        </div>
                        {% for app in apps %}
                            <div id="application-{{ app.application_id }}" class="table-row">
                                <div class="table-cell"><a href="javascript:void(0);" onclick="window.location.href='{{ base_url }}dashboard/application/edit/{{ app.application_id }}';">{{ app.name }}</a></div>
                                <div class="table-cell">{{ app.app_domain }}</div>
                                <div class="table-cell">{{ app.permissions | join(', ') }}</div>
                                <div class="table-cell">{{ app.status_name }}</div>
                                <div><button onclick="if(confirm('Are you sure you wish to delete application {{ app.name }}?'))window.location.href='{{ base_url }}dashboard/application/delete/{{ app.application_id }}';">-</button></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link href="{{ base_asset_url }}css/dashboard.css" rel="stylesheet" type="text/css" media="all">
{% endblock %}
